<div id="portal-container" class="flex flex-col p-25">
  <div class="flex flex-row">
    <div class="portal-content flex flex-col">
      <div class="flex flex-col border-2 form-container">
        <h6 class="text-2xl m-2">Search for an app</h6>
        <form [formGroup]="findForm">
          <div class="flex flex-col app-input m-2">
            <label for="appName" class="text-xs">Enter app name</label>
            <input
              formControlName="appName"
              class="app-input my-2"
              id="appName"
              type="text"
              placeholder="Enter app name"
            />
            @if (!appNameControl.valid && (appNameControl.dirty || appNameControl.touched)) {
              <p class="rounded m-2 w-50 bg-red-200">
                App name is required.
              </p>
            }
          </div>
          <div class="m-2">
            <button class="app-button" (click)="handleAppName()" [disabled]="!findForm.valid">Search</button>
          </div>
        </form>
        <div class="flex flex-col m-2" *ngIf="(nullResponse$|async) === true">
          <p class="rounded p-2 w-50 bg-yellow-200">Data not found for app: {{ appNameControl.value }}</p>
        </div>
      </div>
      @for (flag of flags$|async; track flag.name) {
        <div class="flag-item flex flex-row justify-between items-center p-4 relative">
          <div class="hover-over-wrapper flex justify-end absolute" *ngIf="(isDeleted$|async)?.flagName === flag.name && (isVisible$|async)===true">
            <app-hover-over-banner [messageType]="messageTypes.SUCCESS" message=""></app-hover-over-banner>
          </div>
          <div class="flag-name">
            {{ flag.name }}
          </div>
          <div class="flex flex-row gap-5">
            <div class="flag-value" (click)="toggleFlag(flag)">
              <img *ngIf="!flag.enabled" ngSrc="/assets/svg/toggle-circle-left-svgrepo-com.svg" width="25" height="25"
                   alt="flag-disabled"/>
              <img *ngIf="flag.enabled" ngSrc="/assets/svg/toggle-circle-right-svgrepo-com.svg" width="25" height="25"
                   alt="flag-enabled"/>
            </div>
            <div class="delete-icon" (click)="deleteFlag(flag)">
              <img ngSrc="assets/svg/trash-alt-svgrepo-com.svg" width="25" height="25" alt="delete-flag"/>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="form-container flex flex-col"
         *ngIf="(nullResponse$|async) !== true && (appName$|async) !== null">
      <app-create-flag [appName]="(appName$|async) ?? ''"></app-create-flag>
    </div>
  </div>
</div>
<app-notification></app-notification>
<app-create-app *ngIf="(shouldShowAppCreateForm$|async)===true"></app-create-app>
