<div id="portal-container" class="flex flex-row p-25">
  <div class="portal-content flex flex-col">
    @for (flag of flags$|async; track flag.name) {
      <div class="flag-item flex flex-row justify-between items-center p-4">
        <div class="flag-name">
          {{ flag.name }}
        </div>
        <div class="flag-value" (click)="toggleFlag(flag)">
          <img *ngIf="!flag.enabled" ngSrc="/assets/svg/toggle-circle-left-svgrepo-com.svg" width="25" height="25"
               alt="disabled"/>
          <img *ngIf="flag.enabled" ngSrc="/assets/svg/toggle-circle-right-svgrepo-com.svg" width="25" height="25"
               alt="enabled"/>
        </div>
      </div>
    }
  </div>
  <div class="form-container flex flex-col">
    <app-create-flag [appName]="appName"></app-create-flag>
  </div>
</div>
<app-notification></app-notification>
